In [34]:
import pandas as pd
from datetime import datetime

In [35]:
df_news = pd.read_csv("Data Collection/scraped_news.csv", header=None)
df_news.columns = ['links','title','descr','display_time','time_gmt','category','subcategory']
df_news.head()

,links,title,descr,display_time,time_gmt,category,subcategory
0,https://www.reuters.com/article/us-olympics-io...,Olympics IOC confident of successful Tokyo Gam...,Reuters The International Olympic Committee IO...,3:01PM EDT,2021-05-12T15:18:06.489Z,Lifestyle,Sports
1,https://www.reuters.com/article/us-seven-i-hld...,Exclusive ValueAct takes stake in 7 Eleven own...,Reuters Activist investor ValueAct Capital has...,1:30PM EDT,2021-05-12T15:35:03Z,Business,Retails & Consumer
2,https://www.reuters.com/article/us-olympics-20...,US athletics team cancels pre Olympics camp in...,TOKYO Reuters The United States track and fiel...,10:22AM EDT,2021-05-12T03:25:51.298Z,World,Asia Pacific
3,https://www.reuters.com/article/us-health-coro...,Japan s coronavirus vaccine booking system cra...,Technical problems derailed Japan s coronaviru...,6:33AM EDT,2021-05-12T06:01:50.125Z,World,Asia Pacific
4,https://www.reuters.com/article/us-toyota-resu...,Toyota unfazed by chip shortage forecasts rebo...,TOKYO Reuters Toyota Motor Corp forecast its p...,5:59AM EDT,2021-05-12T04:35:53Z,Business,Autos

In [36]:
df_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7660 entries, 0 to 7659
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   links         7660 non-null   object
 1   title         7660 non-null   object
 2   descr         7660 non-null   object
 3   display_time  7660 non-null   object
 4   time_gmt      7660 non-null   object
 5   category      7660 non-null   object
 6   subcategory   7650 non-null   object
dtypes: object(7)
memory usage: 419.0+ KB

In [50]:
def cleanText(text):
    """
    Replaces non-alphanumeric characters in text with a space
    """
    import re
    text = re.sub('[^0-9a-zA-Z]+', ' ', text)
    text = text.strip()
    
    text = text.lower()
    
    return text

def add_Date_Hr(df):
    df['time_gmt'] = pd.to_datetime(df['time_gmt'])

    date_list = []
    hr_list = []

    for i in range(df.shape[0]):
        date_list.append(datetime.strftime(df['time_gmt'].iloc[i],'%Y-%m-%d'))
        hr_list.append(datetime.strftime(df['time_gmt'].iloc[i],'%H'))

    df['time_gmt_date'] = pd.Series(date_list, index=df.index)
    df['time_gmt_hr'] = pd.Series(hr_list, index=df.index)
    
    df['time_gmt_date'] = pd.to_datetime(df['time_gmt_date'])
    df['time_gmt_hr'] = df['time_gmt_hr'].astype("float")
    
    return df

def groupbyDate(df):
    
    dates = list(set(df['time_gmt_date'].to_list()))
    
    rows = []
    
    for dt in dates:
        
        df_date = df[df['time_gmt_date']==dt]
        text = ""
        
        for i in range(df_date.shape[0]):
            text = text+" "+df_date['title'].iloc[i]
            
        rows.append([dt, text])
    
    df_ = pd.DataFrame(rows)
    df_.columns=["date","combined_text"]
    
    df_.sort(['date'], ascending = True, inplace=True)
    
    return df_

In [ ]:
for i in range(df_news.shape[0]):
    df_news['title'].iloc[i] = cleanText(df_news['title'].iloc[i])
    df_news['descr'].iloc[i] = cleanText(df_news['descr'].iloc[i])

/Users/sheetalpandrekar/opt/miniconda3/envs/forextrade/lib/python3.9/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [39]:
df_news = add_Date_Hr(df_news)
print(df_news.head())
print(df_news.info())

                                               links  \
0  https://www.reuters.com/article/us-olympics-io...
1  https://www.reuters.com/article/us-seven-i-hld...
2  https://www.reuters.com/article/us-olympics-20...
3  https://www.reuters.com/article/us-health-coro...
4  https://www.reuters.com/article/us-toyota-resu...

                                               title  \
0  olympics ioc confident of successful tokyo gam...
1  exclusive valueact takes stake in 7 eleven own...
2  us athletics team cancels pre olympics camp in...
3  japan s coronavirus vaccine booking system cra...
4  toyota unfazed by chip shortage forecasts rebo...

                                               descr display_time  \
0  reuters the international olympic committee io...   3:01PM EDT
1  reuters activist investor valueact capital has...   1:30PM EDT
2  tokyo reuters the united states track and fiel...  10:22AM EDT
3  technical problems derailed japan s coronaviru...   6:33AM EDT
4  tokyo reuters toyota motor corp forecast its p...   5:59AM EDT

                          time_gmt   category         subcategory  \
0 2021-05-12 15:18:06.489000+00:00  Lifestyle              Sports
1        2021-05-12 15:35:03+00:00   Business  Retails & Consumer
2 2021-05-12 03:25:51.298000+00:00      World        Asia Pacific
3 2021-05-12 06:01:50.125000+00:00      World        Asia Pacific
4        2021-05-12 04:35:53+00:00   Business               Autos

  time_gmt_date  time_gmt_hr
0    2021-05-12         15.0
1    2021-05-12         15.0
2    2021-05-12          3.0
3    2021-05-12          6.0
4    2021-05-12          4.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7660 entries, 0 to 7659
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   links          7660 non-null   object
 1   title          7660 non-null   object
 2   descr          7660 non-null   object
 3   display_time   7660 non-null   object
 4   time_gmt       7660 non-null   datetime64[ns, UTC]
 5   category       7660 non-null   object
 6   subcategory    7650 non-null   object
 7   time_gmt_date  7660 non-null   datetime64[ns]
 8   time_gmt_hr    7660 non-null   float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), object(6)
memory usage: 538.7+ KB
None

In [47]:
df_combined = groupbyDate(df_news)
df_combined.head()

        date                                      combined_text
0 2019-10-16   hundreds of dignitaries to attend as japan s ...
1 2018-06-17   magnitude 6 1 quake in japan s osaka area kil...
2 2016-05-19   u s man charged over japanese woman s death a...
3 2019-03-29   buddhist nun prays for vietnamese workers who...
4 2017-06-01   after goldman storm venezuela congress blasts...

In [48]:
df_combined.shape

(1753, 2)